body {

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0%;
}
html {
	height: 100%;
}
.left {
	position: absolute;
	top: 30px;
	left: 30px;
	color: #fff;
	text-decoration: none;
}
strong {
  color: #fff;
  border: 1px solid red;
  padding: 5px 10px 5px 10px;
  background-color: red;
  border-radius: 5px;
  transition-duration: 1s;
  letter-spacing: 1px;
}
strong:hover {
  background-color: #fff;
  color: red;
  border-color: #fff;
}
.xromo {
	padding-top: 50px;
}
.xromo img {
	width: 320px;
	height: 50px;
}
.login {
	background-color: #ffffffdb;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 50px;
	width: 40%;
	height: 60%;
	padding: 10px;
	border-radius: 5px;
	-webkit-box-shadow: 20px -1px 45px 0px rgba(0,0,0,1);
-moz-box-shadow: 20px -1px 45px 0px rgba(0,0,0,1);
box-shadow: 20px -1px 45px 0px rgba(0,0,0,1);
}
.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.kuylover {
	width: 100%;
	height: 100%;
	background-color: #00000054;
}

.forma {
	width: 90%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 40px;
}
.forma>div {
	width: 100%;
}
.forma input[type=text], input[type=tel], input[type=number], input[type=password] {
	margin-top: 20px;
	width: 100%;
	height: 30px;
	padding-left: 10px;
	background-color: #ffffff;
	border-radius: 5px;
	border-color: #3633339c;
}
.forma input {
	outline: none;
}
.title-text h1 {
	color: black;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding-top: 30px;
}
.pol {
	display: flex;
	flex-direction: row;
	color: #000;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.pol p {
	padding-top: 4px;
	padding-left: 5px;
}
.cool {
	display: flex;
	flex-direction: row;
}
.cool p {
	width: 50%;
}
.btn-primary {
	width: 50%;
	background-color: #ff3600;
	border: 1px solid transparent;
	border-radius: 7px;
    transition-duration: 1s;
    color: #fff;
    font-size: 19px;
    -webkit-box-shadow: 11px 10px 36px -6px rgba(0,0,0,0.78);
-moz-box-shadow: 11px 10px 36px -6px rgba(0,0,0,0.78);
box-shadow: 11px 10px 36px -6px rgba(0,0,0,0.78);
}
.btn-primary:hover {
	background-color: #fff;
	color: red;
	box-shadow: none;
}

@media (max-width: 1000px) {
	body {
		background-size: cover;
		background-position: 0%;
	}
	.login {
		width: 90%;
		margin-top: 40px;
	}
}
@media (max-width: 400px) {
	.login {
		width: 90%;
		margin-top: 10px;

		padding-bottom: 20px;
	}
	.kuylover {
		height: auto;
	}
	.container {
		height: auto;
	}
	.title-text h1 {
		margin: 0;
		padding-top: 0px;
	}

	.xromo {
		padding-top: 70px;
	}
	.forma {
		padding-bottom: 0px;
	}
	.left {
		position: absolute;
		top: 20px;
		left: 15px;
	}
	body {
		background-size: cover;
		background-position: 0%;
		background-repeat: repeat;
	}
	.btn-primary {
		font-size: 13px;
		padding: 10px 10px 10px 10px;
		width: 50%;
		height: 70%;
		margin-top: 20px;
	}
	.cool p {
		font-size: 13px;

	}
	.cool input[type=checkbox] {
		position: relative;
		top: 3px;
	}
	#pravila {
		margin-left: 18px;
	}
}
